<mat-form-field appearance="fill">
    <mat-label>Cat</mat-label>
    <mat-select 
        [value]="currentCat.id"
        (selectionChange)="change_cat($event.value)"
    >
      <mat-option *ngFor="let cat of cats" [value]="cat.id">
        {{cat.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <a mat-icon-button routerLink="/settings" aria-label="Example icon button with a vertical three dot icon"
    >
    <mat-icon>settings</mat-icon>
</a>
  
  <mat-card>
    Last Feed :  {{feed | date : 'HH:mm'}}
  </mat-card>
